<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tujiaw Github</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.4.0/styles/default.min.css">
  <link rel="stylesheet" href="../../../stylesheets/detail.css">
  <script src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//cdn.jsdelivr.net/highlight.js/9.4.0/highlight.min.js"></script>

  <script id="articleTempl" type="text/template">
      <article>
        <div id="header">
          <header>
            <h1 onclick="onTitleClicked(this)" url="<%= url %>"><%= title %></h1>
          </header>
          <footer>
            <ul>
              <li><span class="glyphicon glyphicon-bookmark"></span></li>
              <li><%= type %></li>
              <li class="separator">&nbsp;|&nbsp;</li>
              <li><span class="glyphicon glyphicon-calendar"></span></li>
              <li><%= date %></li>
            </ul>
          </footer>
        </div>
        <div id="content">
          <%- content %>
        </div>
        <div class="clearBoth"></div>
      </article>
  </script>
  <script id="duoshauoTempl" type="text/template">
      <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="<%= dataThreadKey %>" data-title="<%= dataTitle %>" data-url="<%= dataUrl %>"></div>
      <!-- 多说评论框 end -->
  </script>
</head>
<body>
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../../index.html">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Tujiaw</a></li>
            <li><a href="#about">&#x5173;&#x4E8E;</a></li>
            <li><a href="../../../view/usefullinks.html">&#x5E38;&#x7528;&#x94FE;&#x63A5;</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&#x6587;&#x7AE0;&#x5206;&#x7C7B; <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">&#x6309;&#x65E5;&#x671F;&#x5F52;&#x6863;</a></li>
                <li><a href="#">&#x6309;&#x7C7B;&#x522B;&#x5F52;&#x6863;</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </header>
  <div class="container">
    <div id="sectionHeader"></div>
    <section>
      <article>
        <div id="header">
          <header>
            <h1 onclick="onTitleClicked(this)" url="view/blog/20160526130708/detail.html">&#x6211;&#x7684;&#x7B2C;&#x4E00;&#x7BC7;&#x535A;&#x5BA2;</h1>
          </header>
          <footer>
            <ul>
              <li><span class="glyphicon glyphicon-bookmark"></span></li>
              <li>&#x6742;&#x6587;</li>
              <li class="separator">&#xA0;|&#xA0;</li>
              <li><span class="glyphicon glyphicon-calendar"></span></li>
              <li>2016/05/26 13:07:08</li>
            </ul>
          </footer>
        </div>
        <div id="content">
          <p><strong>&#x5C31;&#x4ECE;&#x6C6A;&#x56FD;&#x771F;&#x7684;&#x4E00;&#x9996;&#x8BD7;&#x5F00;&#x59CB;&#x5427;</strong></p>
<h4>&#x300A;&#x70ED;&#x7231;&#x751F;&#x547D;&#x300B;</h4>
<ul>
<li>
<p>&#x6211;&#x4E0D;&#x53BB;&#x60F3;&#x662F;&#x5426;&#x80FD;&#x591F;&#x6210;&#x529F;, &#x65E2;&#x7136;&#x9009;&#x62E9;&#x4E86;&#x8FDC;&#x65B9;, &#x4FBF;&#x53EA;&#x987E;&#x98CE;&#x96E8;&#x517C;&#x7A0B;</p>
</li>
<li>
<p>&#x6211;&#x4E0D;&#x53BB;&#x60F3;&#x80FD;&#x5426;&#x8D62;&#x5F97;&#x7231;&#x60C5;, &#x65E2;&#x7136;&#x949F;&#x60C5;&#x4E8E;&#x73AB;&#x7470;, &#x5C31;&#x52C7;&#x6562;&#x5730;&#x5410;&#x9732;&#x771F;&#x8BDA;</p>
</li>
<li>
<p>&#x6211;&#x4E0D;&#x53BB;&#x60F3;&#x8EAB;&#x540E;&#x4F1A;&#x4E0D;&#x4F1A;&#x88AD;&#x6765;&#x5BD2;&#x98CE;&#x51B7;&#x96E8;, &#x65E2;&#x7136;&#x76EE;&#x6807;&#x662F;&#x5730;&#x5E73;&#x7EBF;, &#x7559;&#x7ED9;&#x4E16;&#x754C;&#x7684;&#x53EA;&#x80FD;&#x662F;&#x80CC;&#x5F71;</p>
</li>
<li>
<p>&#x6211;&#x4E0D;&#x53BB;&#x60F3;&#x672A;&#x6765;&#x662F;&#x5E73;&#x5766;&#x8FD8;&#x662F;&#x6CE5;&#x6CDE;, &#x53EA;&#x8981;&#x70ED;&#x7231;&#x751F;&#x547D;, &#x4E00;&#x5207;&#xFF0C;&#x90FD;&#x5728;&#x610F;&#x6599;&#x4E4B;&#x4E2D;!</p>
</li>
</ul>
<p><em>&#x6211;&#x6BD4;&#x8F83;&#x719F;&#x6089;&#x7684;&#x51E0;&#x79CD;&#x8BED;&#x8A00;&#xFF1A;</em></p>
<pre><code>printf(&quot;hello, world!&quot;);
std::cout &lt;&lt; &quot;hello, world!&quot;;
console.log(&quot;hello, world!&quot;);
alert(&quot;hell, world!&quot;);
print(&quot;hello, world!&quot;);
</code></pre>

        </div>
        <div class="clearBoth"></div>
      </article>
  </section>
    <div id="duoshuo">
      <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="20160526130708" data-title="&#x6211;&#x7684;&#x7B2C;&#x4E00;&#x7BC7;&#x535A;&#x5BA2;" data-url="http://tujiaw.github.io/view/blog/20160526130708/detail.html"></div>
      <!-- 多说评论框 end -->
  </div>
    <div id="sectionFooter"></div>
    <footer id="sectionFooter"></footer>
    <footer id="containerFooter">&#xA9;&#xA0;2016&#xA0;tujiaw&amp;zhudan All rights reserved.</footer>
  </div>
  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
  <script type="text/javascript">
    var duoshuoQuery = {short_name:"tujiaw"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
       || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
  </script>
<!-- 多说公共JS代码 end -->
  <!-- 代码高亮 -->
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>