<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tujiaw Github</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.4.0/styles/default.min.css">
  <link rel="stylesheet" href="../../../stylesheets/detail.css">
  <script src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//cdn.jsdelivr.net/highlight.js/9.4.0/highlight.min.js"></script>

  <script id="articleTempl" type="text/template">
      <article>
        <div id="header">
          <header>
            <h1 onclick="onTitleClicked(this)" url="<%= url %>"><%= title %></h1>
          </header>
          <footer>
            <ul>
              <li><span class="glyphicon glyphicon-bookmark"></span></li>
              <li><%= type %></li>
              <li class="separator">&nbsp;|&nbsp;</li>
              <li><span class="glyphicon glyphicon-calendar"></span></li>
              <li><%= date %></li>
            </ul>
          </footer>
        </div>
        <div id="content">
          <%- content %>
        </div>
        <div class="clearBoth"></div>
      </article>
  </script>
  <script id="duoshauoTempl" type="text/template">
      <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="<%= dataThreadKey %>" data-title="<%= dataTitle %>" data-url="<%= dataUrl %>"></div>
      <!-- 多说评论框 end -->
  </script>
</head>
<body>
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../../index.html">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Tujiaw</a></li>
            <li><a href="#about">&#x5173;&#x4E8E;</a></li>
            <li><a href="../../../view/usefullinks.html">&#x5E38;&#x7528;&#x94FE;&#x63A5;</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&#x6587;&#x7AE0;&#x5206;&#x7C7B; <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">&#x6309;&#x65E5;&#x671F;&#x5F52;&#x6863;</a></li>
                <li><a href="#">&#x6309;&#x7C7B;&#x522B;&#x5F52;&#x6863;</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </header>
  <div class="container">
    <div id="sectionHeader"></div>
    <section>
      <article>
        <div id="header">
          <header>
            <h1 onclick="onTitleClicked(this)" url="view/blog/20160531222951/detail.html">Atom&#x8FC7;&#x6EE4;&#x5DE5;&#x7A0B;&#x6587;&#x4EF6;</h1>
          </header>
          <footer>
            <ul>
              <li><span class="glyphicon glyphicon-bookmark"></span></li>
              <li>Atom</li>
              <li class="separator">&#xA0;|&#xA0;</li>
              <li><span class="glyphicon glyphicon-calendar"></span></li>
              <li>2016/05/31 22:29:51</li>
            </ul>
          </footer>
        </div>
        <div id="content">
          <h3>&#x4F7F;&#x7528;Atom&#x589E;&#x52A0;&#x5DE5;&#x7A0B;&#x76EE;&#x5F55;&#x4F1A;&#x628A;&#x76EE;&#x5F55;&#x4E0B;&#x7684;&#x6240;&#x6709;&#x6587;&#x4EF6;&#x90FD;&#x663E;&#x793A;&#x5230;&#x5DE5;&#x7A0B;&#x4E2D;&#xFF0C;&#x4F46;&#x662F;&#x6709;&#x4E9B;&#x6587;&#x4EF6;&#x5176;&#x5B9E;&#x6211;&#x4EEC;&#x4E0D;&#x4F1A;&#x53BB;&#x7F16;&#x8F91;&#x7684;&#x5982;&#xFF1A;&#x56FE;&#x7247;&#x3002;&#x901A;&#x8FC7;&#x4E0B;&#x9762;&#x4E24;&#x6B65;&#x5C31;&#x53EF;&#x4EE5;&#x8FC7;&#x6EE4;&#x6389;&#xFF1A;</h3>
<ol>
<li>&#x6253;&#x5F00;Settings&#xFF0C;&#x627E;&#x5230;Ignored Names&#xFF0C;&#x5982;&#x4E0B;&#xFF1A;</li>
</ol>
<blockquote>
<p>.git, .hg, .svn, .DS_Store, ._*, Thumbs.db</p>
</blockquote>
<p>&#x5728;&#x540E;&#x9762;&#x6DFB;&#x52A0;&#x6211;&#x4EEC;&#x9700;&#x8981;&#x8FC7;&#x6EE4;&#x7684;&#x6587;&#x4EF6;&#x540E;&#x7F00;&#xFF0C;&#x5982;&#x8FC7;&#x6EE4;png&#xFF0C;&#x589E;&#x52A0;&#x540E;&#x5982;&#x4E0B;&#xFF1A;</p>
<blockquote>
<p>.git, .hg, .svn, .DS_Store, ._*, Thumbs.db&#xFF0C;*.png</p>
</blockquote>
<ol start="2">
<li>&#x901A;&#x8FC7;&#x7B2C;&#x4E00;&#x6B65;&#x8FD8;&#x4E0D;&#x80FD;&#x751F;&#x6548;&#xFF0C;&#x8FD8;&#x9700;&#x8981;&#x5728;Settings&#x4E2D;&#x70B9;&#x51FB;Packages&#x641C;&#x7D22;tree-view&#xFF0C;&#x70B9;&#x51FB;tree-view&#x4E0A;&#x7684;Settings&#xFF0C;&#x52FE;&#x9009;Hide Ignored Names&#x5C31;&#x53EF;&#x4EE5;&#x4E86;&#x3002;</li>
</ol>
<p><img src="http://i4.buimg.com/3d3e95493871a554.png" alt="&#x6B64;&#x5904;&#x8F93;&#x5165;&#x56FE;&#x7247;&#x7684;&#x63CF;&#x8FF0;"></p>

        </div>
        <div class="clearBoth"></div>
      </article>
  </section>
    <div id="duoshuo">
      <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="20160531222951" data-title="Atom&#x8FC7;&#x6EE4;&#x5DE5;&#x7A0B;&#x6587;&#x4EF6;" data-url="http://tujiaw.github.io/view/blog/20160531222951/detail.html"></div>
      <!-- 多说评论框 end -->
  </div>
    <div id="sectionFooter"></div>
    <footer id="sectionFooter"></footer>
    <footer id="containerFooter">&#xA9;&#xA0;2016&#xA0;tujiaw&amp;zhudan All rights reserved.</footer>
  </div>
  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
  <script type="text/javascript">
    var duoshuoQuery = {short_name:"tujiaw"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
       || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
  </script>
<!-- 多说公共JS代码 end -->
  <!-- 代码高亮 -->
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>