<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>常用链接</title>
    <style>
        img {
            width: 20px;
            height: 20px;
        }
        a {
            margin: 10px;
        }
    </style>
</head>
<body>
    <h3>工具</h3>
    <ol>
        <li><a href="http://www.kekaoyun.com/" target="_blank">贴图库，上传图片获取外链</a></li>
        <li><a href="https://www.zybuluo.com/mdeditor" target="_blank">Cmd Markdown在线编辑器</a></li>
        <li><a href="http://w3schools.bootcss.com/bootstrap/" target="_blank">bootstrap文档</a></li>
        <li><a href="https://npm.taobao.org/" target="_blank">淘宝NPM镜像</a></li>
        <li><a href="http://www.jqueryscript.net/popular/2016.html" target="_blank">jqueryscript.net</a></li>
    </ol>
</body>
</html>
